body {
  background-color: #000;
  color: #fff;
}

.navbar {
  background-color: transparent;
}

.navbar-brand {
  font-weight: 500;
}

.navbar-brand i {
  margin-right: 8px;
}

.logo-viajes {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

.quienes-somos h2 {
  font-size: 24px;
  font-weight: 400;
}

.quienes-somos p {
  text-align: left;
  font-size: 14px;
}

.icon-box {
  background-color: #0dcaf0;
  color: #fff;
  font-size: 20px;
  padding: 6px;
  margin-bottom: 15px;
}

#destacados h2 {
  font-size: 24px;
  font-weight: 400;
}

.card-destacado {
  background-color: #0dcaf0;
  color: #fff;
  border: #fff;
}

.card-destacado img {
  height: 150px;
  object-fit: cover;
}

.card-destacado .card-title{
  font-size: 16px;
}

.card-destacado .card-text {
  font-size: 13px;
}


