body {
  background-color: #000;
  color: #fff;
}

.navbar {
  background-color: transparent;
}

.navbar-brand {
  font-weight: 500;
}

.navbar-brand i {
  margin-right: 8px;
}

.logo-viajes {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
}